@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.content_bg {
  margin: 50px 0;
  background-image: url('/public/images/ebsb.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
