@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color:rgb(7, 7, 7);
}
.custom{
  background-color: linear-gradient(rgb(rgb(230, 235, 199),rgb(236, 234, 149)));
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Fjalla One' sans-serif;
}

body {
  font-family: 'Fjalla One', sans-serif;
  text-decoration-color: aliceblue;

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
}
